<div id="page-content">
  <h2 class="text-center mt-2 mb-1">All Blog Posts</h1>
  <%= link_to "Tags", categories_path, class: "btn btn-light mx-auto d-block" %>
  <hr class="short-hr mt-4" style="width:120px; margin: auto;">


  <div id="blog-posts" class="container">
    <% @articles = @articles.sort %>
    <% @articles.reverse.each do |article| %>
      <div class="row justify-content-md-center">
        <div class="col-12 mt-3">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header">
              <%= article.title %>
              <br>
              <% if article.categories.any? %>
                <%= render article.categories %>
              <% end %>
            </div>
            <div class="card-body">
              <p class="card-text"><%= truncate(article.description, length: 96).gsub("new_line", "") %></p>
              <%= link_to "Read more", article_path(article), class: "btn btn-outline-secondary" %>
            </div>
            <div class="card-footer text-muted font-italic">
              <small><%= article.created_at.strftime("%B %d, %Y") %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>