<div id="page-content">

  <div id="blog-posts" class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 mt-5">
        <div id="articles-show-card" class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h2 class="card-title"><%= @article.title %></h2>
            <h6 class="card-date font-italic"><%= @article.created_at.strftime("%B %d, %Y") %></h6>
            <% if @article.categories.any? %>
              <%= render @article.categories %>
            <% end %>
            <hr>
            <% @article.description.split('new_line').each do |line| %>
              <% if line.include?('BOLD') %>
                <p class="card-full-text text-left"><strong><%= line.sub('BOLD ', '') %></p></strong>
              <% elsif line.include?('BULLET-POINT') %>
                <ul>  
                  <li><p class="card-full-text text-left"><%= line.sub('BULLET-POINT ', '') %></p></li>
                </ul>
              <% else %>
                <p class="card-full-text text-left"><%= line %></p>
              <% end %>
              <p>

              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>